{% extends 'startpage.html' %}
{% block title %}
    Update Task
{% endblock %}
{% block navitems %}
    <a href="{% url 'create_task' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Create Task</a>
    <a href="{% url 'view_task' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">View Tasks</a>
    <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'view_task' %}">
            <div class="form-group">
                <br/>
                <label for="title">Title</label>
                <input name='title' type="text" class="form-control" id="title" value='{{ title }}' required>
                <br/>
                <label for="content">Description</label>
                <textarea name="description" type="text" class="form-control" id="content" rows="3" required>{{ content }}</textarea>
                <br/>
                <label for="datetime">Due Date and Time</label>
                <input class="form-control" name="datetime" type="datetime-local" id="datetime" required>
                <br/>
                <label for="datetime">Status</label>
                <br/>
                Completed<input class="form-control radio" name="status" type="radio" id="status" value="Completed" required>
                <br/>
                Pending<input class="form-control radio" name="status" type="radio" value="Pending" id="status">
                <br/>
                <input class="btn btn-primary " name="submit" type="submit" value="Update">
            </div>
        </form>
{% endblock %}